BerryCore/.vs/
*.dll
*.pdb
BerryCore/BerryCore.Models/BerryCore.Entity/obj/
BerryCore/BerryCore.Framework/Utils/BerryCore.Utilities/obj/
BerryCore/BerryCore.Framework/Utils/BerryCore.Utilities.JWT/obj/
BerryCore/BerryCore.Framework/Utils/BerryCore.Log/obj/
BerryCore/BerryCore.Framework/Utils/BerryCore.IOC/obj/
BerryCore/BerryCore.Framework/Utils/BerryCore.Extensions/obj/
BerryCore/BerryCore.Framework/Utils/BerryCore.AutoMapper/obj/
BerryCore/BerryCore.Framework/Global/BerryCore.Code/obj/
BerryCore/BerryCore.DataAccess/BerryCore.Data/obj/
BerryCore/BerryCore.DataAccess/BerryCore.Data.EF/obj/
BerryCore/BerryCore.DataAccess/BerryCore.Data.Dapper/obj/
BerryCore/BerryCore.DataAccess/BerryCore.Data.ADO/obj/
BerryCore/BerryCore.Business/BerryCore.Service/obj/
BerryCore/BerryCore.Business/BerryCore.IService/obj/
BerryCore/BerryCore.Business/BerryCore.IDAL/obj/
BerryCore/BerryCore.Business/BerryCore.IBLL/obj/
BerryCore/BerryCore.Business/BerryCore.DAL/obj/
BerryCore/BerryCore.Business/BerryCore.BLL/obj/
BerryCore/BerryCore.Business/BerryCore.App.Cache/obj/
BerryCore/BerryCore.Business/BerryCore.Service/bin/
BerryCore/BerryCore.DataAccess/BerryCore.Data.Repository/obj/
BerryCore/BerryCore.Framework/Utils/BerryCore.IOC/bin/
BerryCore/BerryCore.Framework/Utils/BerryCore.Utilities.Lambda2SQL/obj/
BerryCore/BerryCore.Test/BerryCore.UnitTest/obj/
BerryCore/BerryCore.Test/BerryCore.UnitTest/bin/
BerryCore/packages/
BerryCore/BerryCore.DataAccess/BerryCore.Data.Repository/bin/
BerryCore/BerryCore.Framework/Utils/BerryCore.Extensions/bin/
BerryCore/BerryCore.Framework/Cache/Berry.Cache.Core/bin/
BerryCore/BerryCore.Framework/Cache/Berry.Cache.Core/obj/
BerryCore/BerryCore.Framework/Utils/BerryCore.Utilities.JWT/bin/
BerryCore/BerryCore.DataAccess/BerryCore.Data.Dapper/bin/
BerryCore/BerryCore.Business/BerryCore.BLL/bin/
BerryCore/BerryCore.DataAccess/BerryCore.Data/bin/
