BerryCore/.vs/
*.dll
*.pdb
BerryCore/BerryCore.Models/BerryCore.Entity/obj/
BerryCore/BerryCore.Framework/Utils/BerryCore.Utilities/obj/
BerryCore/BerryCore.Framework/Utils/BerryCore.Utilities.JWT/obj/
BerryCore/BerryCore.Framework/Utils/BerryCore.Log/obj/
BerryCore/BerryCore.Framework/Utils/BerryCore.IOC/obj/
BerryCore/BerryCore.Framework/Utils/BerryCore.Extensions/obj/
BerryCore/BerryCore.Framework/Utils/BerryCore.AutoMapper/obj/
BerryCore/BerryCore.Framework/Global/BerryCore.Code/obj/
BerryCore/BerryCore.DataAccess/BerryCore.Data/obj/
BerryCore/BerryCore.DataAccess/BerryCore.Data.EF/obj/
BerryCore/BerryCore.DataAccess/BerryCore.Data.Dapper/obj/
BerryCore/BerryCore.DataAccess/BerryCore.Data.ADO/obj/
BerryCore/BerryCore.Business/BerryCore.Service/obj/
BerryCore/BerryCore.Business/BerryCore.IService/obj/
BerryCore/BerryCore.Business/BerryCore.IDAL/obj/
BerryCore/BerryCore.Business/BerryCore.IBLL/obj/
BerryCore/BerryCore.Business/BerryCore.DAL/obj/
BerryCore/BerryCore.Business/BerryCore.BLL/obj/
BerryCore/BerryCore.Business/BerryCore.App.Cache/obj/
BerryCore/BerryCore.Business/BerryCore.Service/bin/
BerryCore/BerryCore.DataAccess/BerryCore.Data.Repository/obj/
BerryCore/BerryCore.Framework/Utils/BerryCore.IOC/bin/
BerryCore/BerryCore.Framework/Utils/BerryCore.Utilities.Lambda2SQL/obj/
BerryCore/BerryCore.Test/BerryCore.UnitTest/obj/
BerryCore/BerryCore.Test/BerryCore.UnitTest/bin/
BerryCore/packages/
BerryCore/BerryCore.DataAccess/BerryCore.Data.Repository/bin/
BerryCore/BerryCore.Framework/Utils/BerryCore.Extensions/bin/
BerryCore/BerryCore.Framework/Cache/Berry.Cache.Core/bin/
BerryCore/BerryCore.Framework/Cache/Berry.Cache.Core/obj/
BerryCore/BerryCore.Framework/Utils/BerryCore.Utilities.JWT/bin/
BerryCore/BerryCore.DataAccess/BerryCore.Data.Dapper/bin/
BerryCore/BerryCore.Business/BerryCore.BLL/bin/
BerryCore/BerryCore.DataAccess/BerryCore.Data/bin/
BerryCore/BerryCore.WCF/BerryCore.WCF.BaseBehavior/obj/
BerryCore/BerryCore.WCF/BerryCore.WCF.DataContract/obj/
BerryCore/BerryCore.WCF/BerryCore.WCF.Service/obj/
BerryCore/BerryCore.WCF/BerryCore.WCF.Service/bin/
BerryCore/BerryCore.WCF/BerryCore.WCF.ServiceBehavior/obj/
BerryCore/BerryCore.WCF/BerryCore.WCF.ServiceContract/obj/
BerryCore/BerryCore.WCF/BerryCore.WCF.ServiceContract/bin/
BerryCore/BerryCore.WCF/BerryCore.WCF.ServiceBehavior/bin/
BerryCore/BerryCore.Framework/Socket/SurperSocket.Core.Client/bin/
BerryCore/BerryCore.Framework/Socket/SurperSocket.Core.Client/obj/
BerryCore/BerryCore.Framework/Socket/SurperSocket.Core.Service/obj/
BerryCore/BerryCore.Framework/Socket/SurperSocket.Core/obj/
BerryCore/BerryCore.Framework/Utilities/BerryCore.AutoMapper/obj/
BerryCore/BerryCore.Framework/Utilities/BerryCore.Extensions/obj/
BerryCore/BerryCore.Framework/Utilities/BerryCore.IOC/bin/
BerryCore/BerryCore.Framework/Utilities/BerryCore.IOC/obj/
BerryCore/BerryCore.Framework/Utilities/BerryCore.Log/obj/
BerryCore/BerryCore.Framework/Utilities/BerryCore.Utilities.JWT/obj/
BerryCore/BerryCore.Framework/Utilities/BerryCore.Utilities.Lambda2SQL/obj/
BerryCore/BerryCore.Framework/Utilities/BerryCore.Utilities/obj/
BerryCore/BerryCore.Framework/Utilities/BerryCore.Utilities.JWT/bin/
BerryCore/BerryCore.Framework/Socket/SurperSocket.Core/bin/
BerryCore/BerryCore.Framework/Socket/SurperSocket.Core.Service/bin/
BerryCore/BerryCore.Framework/Utilities/BerryCore.Log/bin/
BerryCore/BerryCore.Simples/SurperSocket.Client/bin/
BerryCore/BerryCore.Simples/SurperSocket.Client/obj/
BerryCore/BerryCore.Simples/SurperSocket.Service/obj/
BerryCore/BerryCore.Simples/SurperSocket.Service/bin/
BerryCore/BerryCore.Framework/Utilities/BerryCore.DistributedLockManager/obj/
BerryCore/BerryCore.Framework/Utilities/BerryCore.DistributedLockManager/bin/
BerryCore/BerryCore.DataAccess/BerryCore.Data.EF/bin/
BerryCore/BerryCore.Framework/Utilities/BerryCore.AutoMapper/bin/
BerryCore/BerryCore.Framework/MQ/BerryCore.MQ.RabbitMQ/obj/
BerryCore/BerryCore.Framework/MQ/BerryCore.MQ.RabbitMQ/bin/
BerryCore/BerryCore.Framework/MQ/BerryCore.MQ/obj/
BerryCore/BerryCore.Simples/RabbitMq.Publish/obj/
BerryCore/BerryCore.Simples/RabbitMq.Subscribe/bin/
BerryCore/BerryCore.Simples/RabbitMq.Subscribe/obj/
BerryCore/BerryCore.Simples/RabbitMq.Publish/bin/
