<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>

  <!--superSocket配置-->
  <superSocket logFactory="ConsoleLogFactory">

    <servers>
      <server 
        name="SuperSocketServer" 
        loggingMode="IndependantFile" 
        textEncoding="utf-8" 
        serverType="SurperSocket.Core.Service.AppBase.CustomServer, SurperSocket.Core.Service" 
        ip="Any" port="9005" 
        sendTimeOut="30000" 
        sendingQueueSize="10" 
        maxConnectionNumber="5000" 
        receiveBufferSize="1024" 
        sendBufferSize="1024" 
        maxRequestLength="10240" 
        logCommand="true" 
        logBasicSessionActivity="true" 
        logAllSocketException="true">
      </server>
    </servers>

    <logFactories>
      <add name="ConsoleLogFactory" type="SuperSocket.SocketBase.Logging.ConsoleLogFactory, SuperSocket.SocketBase" />
    </logFactories>

  </superSocket>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperSocket.SocketBase" publicKeyToken="6c80000676988ebb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.6.1" newVersion="1.6.6.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperSocket.Common" publicKeyToken="6c80000676988ebb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.6.1" newVersion="1.6.6.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>