<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practces/2010/unity">
  <typeAliases>
    <!-- IDatabase对象 -->
    <typeAlias alias="IDatabase" type="GCP.Data.IDatabase,GCP.Data" />
    <!-- IDatabase具体实现类 -->
    <typeAlias alias="MsSqlDatabase4Dapper" type="GCP.Data.Dapper.MsSqlDatabase4Dapper,GCP.Data.Dapper" />

    <!-- 数据库类型枚举 -->
    <typeAlias alias="DatabaseType" type="GCP.Data.DatabaseType,GCP.Data" />
    <!-- 目标数据库类型 -->
    <typeAlias alias="SqlServer" type="GCP.Data.DatabaseType,GCP.Data" />
    <typeAlias alias="MySql" type="GCP.Data.DatabaseType,GCP.Data" />
    <typeAlias alias="Oracle" type="GCP.Data.DatabaseType,GCP.Data" />
    <typeAlias alias="SQLite" type="GCP.Data.DatabaseType,GCP.Data" />
  </typeAliases>
  <containers>
    <container name="DbContainer">
      <!-- 操作数据库具体使用的实现 -->
      <type type="IDatabase" mapTo="MsSqlDatabase4Dapper"></type>

      <!-- 默认数据库软件类型：SqlServer，MySql，Oracle，SQLite -->
      <type type="DatabaseType" mapTo="SqlServer" ></type>
    </container>
  </containers>
</unity>