<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practces/2010/unity">
  <typeAliases>
    <!-- IDatabase对象 -->
    <typeAlias alias="IDatabase" type="BerryCore.Data.IDatabase,BerryCore.Data" />
    <!-- IDatabase具体实现类 -->
    <typeAlias alias="MsSqlDatabase4Dapper" type="BerryCore.Data.Dapper.MsSqlDatabase4Dapper,BerryCore.Data.Dapper" />
    <typeAlias alias="MySqlDatabase4Dapper" type="BerryCore.Data.Dapper.MySqlDatabase4Dapper,BerryCore.Data.Dapper" />
    <typeAlias alias="OracleDatabase4Dapper" type="BerryCore.Data.Dapper.OracleDatabase4Dapper,BerryCore.Data.Dapper" />
    <typeAlias alias="SQLiteDatabase4Dapper" type="BerryCore.Data.Dapper.SQLiteDatabase4Dapper,BerryCore.Data.Dapper" />

    <!-- 数据库类型枚举 -->
    <typeAlias alias="DatabaseType" type="BerryCore.Data.DatabaseType,BerryCore.Data" />
    <!-- 目标数据库类型 -->
    <typeAlias alias="SqlServer" type="BerryCore.Data.DatabaseType,BerryCore.Data" />
    <typeAlias alias="MySql" type="BerryCore.Data.DatabaseType,BerryCore.Data" />
    <typeAlias alias="Oracle" type="BerryCore.Data.DatabaseType,BerryCore.Data" />
    <typeAlias alias="SQLite" type="BerryCore.Data.DatabaseType,BerryCore.Data" />
  </typeAliases>
  <containers>
    <container name="DbContainer">
      <!-- 操作数据库具体使用的实现 -->
      <type type="IDatabase" mapTo="MsSqlDatabase4Dapper"></type>

      <!-- 默认数据库软件类型：SqlServer，MySql，Oracle，SQLite -->
      <type type="DatabaseType" mapTo="SqlServer" ></type>
    </container>
  </containers>
</unity>